!!!
%html
  %head
    = stylesheet_link_tag 'active_admin', media: 'all', 'data-turbolinks-track': 'reload'
  %body.active_admin.logged_out.new
    #wrapper
      #content_wrapper
        .flash.flash_alert
          = flash[:alert]
        #active_admin_content
          #login
            %h2= t('active_admin.devise.login.title')
            = form_tag admin_session_path, html: { id: 'session_new', class: 'formtastic admin_user' } do
              %fieldset.inputs
                %ol
                  %li.input.required.autofocus.stringish
                    %label.label{for: "username"}
                      = t('active_admin.devise.username.title')
                      %abbr{title: "required"} *
                    = text_field_tag :username, params[:username], autofocus: true
                  %li.password.input.required.stringish
                    %label.label{for: "password"}
                      = t('active_admin.devise.password.title')
                      %abbr{title: "required"} *
                    = password_field_tag :password
              %fieldset.actions
                %ol
                  %li#admin_user_submit_action.action.input_action
                    = submit_tag t('active_admin.devise.login.submit')
